<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Title, Description, Author, and Favicon -->
    {{- with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . | truncate 70 }}" /> {{- end }} {{- with .Description | default .Params.subtitle | default .Summary }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}"> {{- end }}
    <meta name="author" content="{{ .Site.Author.name }}" /> {{- with .Site.Params.favicon }}
    <link href='{{ . | absURL }}' rel='icon' type='image/x-icon' /> {{- end -}}
    <!-- Social Media Tags -->
    {{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" /> {{- end }}
    <meta name="twitter:card" content="summary" /> {{- with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}" />
    <meta name="twitter:creator" content="@{{ . }}" /> {{- end }} {{- with .Site.Params.fb_app_id }}
    <meta property="fb:app_id" content="{{ . }}" /> {{- end }}
    <meta property="og:url" content="{{ .URL | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <!-- Hugo Version number -->
    {{ .Hugo.Generator -}}
    <!-- Links and stylesheets -->
    <link rel="canonical" href="{{ .URL | absLangURL }}" />
    <link rel="alternate" href="{{ " index.xml " | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ " css/main.css " | absURL }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
    <link rel="stylesheet" href="{{ " css/pygment_highlights.css " | absURL }}" />
    <link rel="stylesheet" href="{{ " css/highlight.min.css " | absURL }}" /> {{- partial "head_custom.html" . }} {{ template "_internal/google_analytics_async.html" . }}
</head>
