{{ define "header" }}
<header class="header-section ">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }} {{ define "main" }}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ with .Content }}
            <div style="min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #0c0849; border: 1px solid #1a1296; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
                {{.}}
            </div>
            {{ end }}
            <div class="posts-list">
                {{ range .Paginator.Pages }}
                <article class="post-preview">
                    <a href="{{ .Permalink }}">
                        <h2 class="post-title">{{ .Title }}</h2>

                        {{ if .Params.subtitle }}
                        <h3 class="post-subtitle">
                            {{ .Params.subtitle }}
                        </h3>
                        {{ end }}
                    </a>

                    <p class="post-meta">
                        <i class="fa fa-calendar"></i> {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
                    </p>
                    <div class="post-entry">
                        {{ if .Truncated }} {{ .Summary }}
                        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a> {{ else }} {{ .Content }} {{ end }}
                    </div>

                    {{ if .Params.tags }}
                    <span class="post-meta">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                  {{ end }}
                </span> {{ end }}

                </article>
                {{ end }}
            </div>
            {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
            <ul class="pager main-pager">
                {{ if .Paginator.HasPrev }}
                <li class="previous">
                    <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
                </li>
                {{ end }} {{ if .Paginator.HasNext }}
                <li class="next">
                    <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
